/* Custom Reset CSS */
* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
    background-color: #918e9b;
}

html {
    background-color: rgb(238, 238, 238);
}

body {
    margin: 0;
    font-family: 'poppins', sans-serif;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

}

.gray {
    color: #918e9b;
}

.bold {
    font-weight: bold;
}

.hideMenuNav {
    display: none;
    transform: translateY(-400px);
}

nav {
    background-color: #ffffff;
    padding: 10px 15px;
    border-bottom: 3px solid rgb(235, 235, 235);
    position: relative;
}

section {
    padding: 15px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero--text {
    margin-top: 0;
    width: 400px;
}

.hero--photo {
    padding: 20px 0;
    max-width: 400px;
    align-self: center;
}


.card {
    min-width: 175px;
    max-width: 175px;
    font-size: 12px;
    margin: 15px;
    position: relative;

}
.card--badge{
    position: absolute;
    padding: 2px 5px;
    background-color: rgb(218, 67, 30);
    color: white;
    border-radius: 8px 0 0 0;
}

.card:nth-child(1) {
    margin-left: 0;
}

.card--image {
    width: 100%;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}

.card--items {
    display: flex;
    overflow-x: auto;

}

.card--items::-webkit-scrollbar {
    height: 5px;
}

.card--items::-webkit-scrollbar-track {
    background-color: rgb(206, 206, 206);
    border-radius: 20px
}

.card--items::-webkit-scrollbar-thumb {
    background-color: rgb(163, 163, 163);
    border-radius: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu {
    position: relative;
    width: 24px;
    cursor: pointer;
    height: auto;
    padding: 5px;
}

.hamburger-menu>span {
    background-color: black;
    display: block;
    height: 2px;
    width: 24px;
}

.hamburger-menu>span:nth-child(1) {
    margin-bottom: 5px;
}

.hamburger-menu>span:nth-child(3) {
    margin-top: 5px;
}

.menu--bar {
    display: block;
    width: 100%;
    position: absolute;
    background-color: #ffdedf;
    top: 55px;
    left: 0;
}

.menu--bar .menu--items {
    padding: 20px 30px;

}

.menu--bar .menu--items li {
    list-style: none;
    margin-bottom: 7px;
    margin-top: 7px;
    font-size: 16px;
    cursor: pointer;
}

.footer {
    margin-top: 20px;
}

.footer--title {
    font-size: 13px;
    color: #808080;
}

.loading-screen{
    position: fixed;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 42%;
    background-color: pink;
}
.loading {
    position: absolute;
    
    left: 42%;
    z-index: 999999;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.3rem solid #000;
    animation: 1s ripple ease-out infinite;
  }
  
  @keyframes ripple {
    from {
      transform: scale(0);
      opacity: 1;
    }
  
    to {
      transform: scale(1);
      opacity: 0;
    }
  }

